* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: skyblue;
	margin-left: 400px;
	margin-right: 400px;
}

#quote-box {
	position: absolute;
	top: 50%;
	left: 50%;
	/*-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);*/
	transform: translateX(-50%) translateY(-50%);
	border: solid 3px;
	height: 500px;
	width: 800px;
}

#new-quote {
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 150px;
}

#text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 40px;
}

#author {
	font-size: 20px;
}

#tweet-quote {
	position: absolute;
	bottom: 0;
	padding-bottom: 50px;
	margin-left: 20px;
}

#quote-button {
	position: absolute;
	text-align: right;
	bottom: 0;
	right: 50px;
	padding-bottom: 50px;
}
