* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #87ceeb;
	margin-left: 400px;
	margin-right: 400px;
	transition: 1500ms;
}

#quote-box {
	position: absolute;
	top: 50%;
	left: 50%;
	/*-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);*/
	transform: translateX(-50%) translateY(-50%);
	border: solid 0px;
	height: 500px;
	width: 800px;
}

#new-quote {
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 150px;
	background-color: black;
	color: whitesmoke;
	border: 2px solid black;
	border-radius: 5px;
}

#quote-box-quote {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	right: 25%;
	font-size: 22px;
	background-color: black;
	color: whitesmoke;
	border-radius: 30px;
	padding: 30px;
}

#tweet-quote {
	position: absolute;
	bottom: 0;
	padding: 30px;
	margin-left: 20px;
	border: solid 1px;
	background-color: black;
}

#quote-button {
	position: absolute;
	text-align: right;
	bottom: 0;
	right: 30px;
	padding-bottom: 50px;
}

button:hover {
	opacity: 0.8;
}

#tweet-quote:hover {
	opacity: 0.8;
}

@media only screen and (max-width: 1100px) {
	body {
		background-color: #87ceeb;
		margin-left: 0px;
		margin-right: 0px;
	}

	#quote-box {
		top: initial;
		left: initial;
		/*-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);*/
		transform: initial;
		height: 100%;
		width: 100%;
		top: initial;
		left: initial;
		/*-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);*/
		transform: initial;
	}

	#new-quote {
		height: 50px;
		width: 150px;
	}

	#quote-box-quote {
		top: 15%;
		left: 10%;
		right: 10%;
		transform: initial;
		font-size: initial;
	}

	#tweet-quote {
		top: 50%;
		bottom: initial;
		padding: 20px;
		margin-left: 0px;
		left: 10%;
	}

	#quote-button {
		top: 50%;
		bottom: initial;
		right: 10%;
		padding-bottom: 50px;
	}
}
